[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/plugins/antidote"]
	path = zsh/plugins/antidote
	url = https://github.com/mattmc3/antidote
[submodule "assets/SecLists"]
	path = assets/SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "assets/PayloadsAllTheThings"]
	path = assets/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "assets/hacktricks"]
	path = assets/hacktricks
	url = https://github.com/carlospolop/hacktricks
[submodule "nvim"]
	path = nvim
	url = https://github.com/AstroNvim/AstroNvim
