[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "plugins/dotbot-if"]
	path = plugins/dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/plugins/antidote"]
	path = zsh/plugins/antidote
	url = https://github.com/mattmc3/antidote.git
